[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkpreview = "<0.8.2"
requests = "*"
requests-cache = "<1.0.0"
pytest = "*"
requests-html = "*"
filetype = "*"

[dev-packages]

[requires]
python_version = "3.9"
